<div class="new-recipe">
    <label>Recipe Title</label><br />
    <input type="text" class="input-size" [(ngModel)]="recipeTitle"><br />
    <label>Recipe Type</label><br />
    <select class="input-size" [(ngModel)]="recipeType">
        <option *ngFor="let type of recipeTypeValues" [value]="type">{{type.replace("-", " ") | titlecase}}</option>
    </select><br />
    <label>Recipe Cooking Time (minutes)</label><br />
    <input type="number" class="input-size" [(ngModel)]="recipeCookingTime"><br />
    <label>Recipe Cooking Temperature</label><br />
    <input type="number" class="input-size" [(ngModel)]="recipeCookingTemperature"><br />
    <button (click)="saveRecipe()" class="primary-button">Add to the Cookbook</button>
</div>