.bottom-space {
    margin-bottom: 20px;
}

.ingredients {
    margin: auto;
}

.primary-button {
    width: 200px;
    height: 30px;
}

.secondary-button {
    width: 100px;
    height: 20px;
}

.input-size {
    width: 100px;
    margin-bottom: 10px;
}

.top-text {
    vertical-align: top;
}

.step-description {
    max-width: 300px;
}