<h2>{{recipeTitle}}</h2>
<div>{{recipeType}}</div>
<div>
    <h3>Ingredients</h3>
    <div class="bottom-space">
        <div *ngFor="let ingredient of ingredients">
            <div *ngIf="ingredient.unit === 'none'">
                {{ingredient.name}} {{ingredient.quantity}}
            </div>
            <div *ngIf="ingredient.unit !== 'none'">
                {{ingredient.name}} {{ingredient.quantity}} {{ingredient.unit}}
            </div>
            <button class="secondary-button" (click)="ingredientForm.showUpdateForm(ingredient)">Update</button>
            <button class="secondary-button" (click)="deleteIngredient(ingredient.name)">Delete</button>
        </div>
    </div>
    <button class="primary-button" (click)="ingredientForm.showNewForm()">New Ingredient</button>
    <app-ingredient-form [recipeId]="recipeId" #ingredientForm></app-ingredient-form>
</div>
<div>
    <h3>Steps</h3>
    <div>

    </div>
    <button class="primary-button">New Step</button>
</div>
<div>
    <h3>
        Cooking
        <button class="secondary-button"
            (click)="cookingForm.show(recipeCookingTime, recipeTemperature)">Update</button>
    </h3>
    <div class="bottom-space">
        <div>Cooking Time: {{recipeCookingTime}} minutes</div>
        <div>Temperature: {{recipeTemperature}}</div>
    </div>
    <app-cooking-form [recipeId]="recipeId" (updated)="loadRecipe()" #cookingForm></app-cooking-form>
    <button class="primary-button" (click)="deleteRecipe()">Delete this Recipe</button>
</div>