.bottom-space {
    margin-bottom: 20px;
}

.primary-button {
    width: 200px;
    height: 30px;
}

.secondary-button {
    width: 100px;
    height: 20px;
}

.input-size {
    width: 100px;
    margin-bottom: 10px;
}