<h2>{{recipeTitle}}</h2>
<div>{{recipeType}}</div>
<div>
    <h3>Ingredients</h3>
    <div class="bottom-space">
        <table class="ingredients">
            <tr *ngFor="let ingredient of ingredients">
                <td>{{ingredient.name}}</td>
                <td *ngIf="ingredient.unit === 'none'">{{ingredient.quantity}}</td>
                <td *ngIf="ingredient.unit !== 'none'">{{ingredient.quantity}} {{ingredient.unit}}</td>
                <td><input type="checkbox" (change)="selectIngredient($event, ingredient.name)"></td>
            </tr>
        </table>
    </div>
    <button class="primary-button" (click)="showUpdateIngredientForm()" [disabled]="selectedIngredientNames.length !== 1">
        Update
    </button><br />
    <button class="primary-button" (click)="deleteIngredient()" [disabled]="selectedIngredientNames.length === 0">
        Delete
    </button><br />
    <button class="primary-button" (click)="ingredientForm.showNewForm()">
        New Ingredient
    </button><br />
    <app-ingredient-form [recipeId]="recipeId" #ingredientForm></app-ingredient-form>
</div>
<div>
    <h3>Steps</h3>
    <table class="ingredients">
        <tr *ngFor="let step of steps; index as order">
            <td>{{order + 1}}</td>
            <td>{{step.description}}</td>
            <td><input type="checkbox" (change)="selectStep($event, order + 1)"></td>
        </tr>
    </table>
    <button class="primary-button" (click)="showUpdateStepForm()"  [disabled]="selectedStepOrders.length !== 1">
        Update
    </button><br />
    <button class="primary-button" (click)="deleteSteps()" [disabled]="selectedStepOrders.length === 0">
        Delete
    </button><br />
    <button class="primary-button" (click)="showNewStepForm()">
        New Step
    </button><br />
    <app-step-form [recipeId]="recipeId" #stepForm></app-step-form>
</div>
<div>
    <h3>
        Cooking
        <button class="secondary-button"
            (click)="cookingForm.show(recipeCookingTime, recipeTemperature)">Update</button>
    </h3>
    <div class="bottom-space">
        <div>Cooking Time: {{recipeCookingTime}} minutes</div>
        <div>Temperature: {{recipeTemperature}}</div>
    </div>
    <app-cooking-form [recipeId]="recipeId" (updated)="loadRecipe()" #cookingForm></app-cooking-form>
    <button class="primary-button" (click)="deleteRecipe()">Delete this Recipe</button>
</div>