<nav class="m-bottom">
    <button routerLink="/recipes/main-course" [class.selected-blue]="type === 'main-course'"
        class="small-button m-right blue">
        Main Courses
    </button>
    <button routerLink="/recipes/dessert" [class.selected-blue]="type === 'dessert'" class="small-button m-right blue">
        Desserts
    </button> <button routerLink="/recipes/drink" [class.selected-blue]="type === 'drink'" class="small-button blue">
        Drinks
    </button>
</nav>
<div class="m-bottom">Here are the {{recipes.length}} {{type}} recipe{{recipes.length > 1 ? 's' : ''}}</div>
<div *ngFor="let r of recipes">
    <button class="recipe-button m-bottom" (click)="selectRecipe(r.id)">{{r.title}}</button>
</div>
<button routerLink="/menu" routerLinkActive="active" ariaCurrentWhenActive="page" class="large-button home-button">
    Home
</button>