<main class="main">
    <div class="m-auto t-center">
        <h1>GrandMa's Recipes</h1>
        <nav class="nav-bar">
            <button routerLink="/recipes/main-course" routerLinkActive="active" ariaCurrentWhenActive="page">Main Courses</button>
            <button routerLink="/recipes/dessert" routerLinkActive="active" ariaCurrentWhenActive="page">Desserts</button>
            <button routerLink="/recipes/drink" routerLinkActive="active" ariaCurrentWhenActive="page">Drinks</button>
            <button routerLink="/newrecipe" routerLinkActive="active" ariaCurrentWhenActive="page">New Recipes</button>
        </nav>
        <div class="content">
            <router-outlet />
        </div>
    </div>
</main>