<main class="main">
    <div class="m-auto t-center">
        <h1>GrandMa's Recipes</h1>
        <nav class="nav-bar">
            <a routerLink="/recipes/main-course" routerLinkActive="active" ariaCurrentWhenActive="page">Main Courses</a>
            <a routerLink="/recipes/dessert" routerLinkActive="active" ariaCurrentWhenActive="page">Desserts</a>
            <a routerLink="/recipes/drink" routerLinkActive="active" ariaCurrentWhenActive="page">Drinks</a>
            <a routerLink="/newrecipe" routerLinkActive="active" ariaCurrentWhenActive="page">Create New Recipes</a>
        </nav>
        <div class="content">
            <router-outlet />
        </div>
    </div>
</main>